/*Fonts used*/ 
@font-face {
    font-family: fonte-menu;
    src: url(Fonts/Welcomeweb-Regular.ttf);
}
@font-face {
    font-family: fonte-menu-button-contact;
    src: url(Fonts/Welcomeweb-Regular.ttf);
}
@font-face {
    font-family: fonte-home-content-h1;
    src: url(Fonts/Welcomeweb-Bold.ttf);
}
@font-face {
    font-family: fonte-about-h1;
    src: url(Fonts/Welcomeweb-Bold.ttf);
}

* {
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
} 

/*Colors used*/
:root {
    --color-primary: #000000;
    --color-background-home: rgb(255, 205, 0);
    --color-background: #ffffff;
    --color-text: #000000;
    --color-button: #ffffff;
    --color-button-2:rgb(255, 205, 0);
    --color-button-text: #000000;
    --color-background-knowledge: rgb(249, 249, 249);
} 
html{
    scroll-behavior: smooth;
}
/*Global styles*/

body{
  background: var(--color-background);
}
.logo {
    position: fixed;
    top: 1.4rem;
    left: 3rem;
    z-index: 101;
    font-size: 1.5rem;
    font-family: fonte-home-content-h1;
    color: var(--secondary-color);
}
/*bar navigation*/ 
.bar-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 20px;
    background-color: var(--color-background-home);
}
.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin-top: 0.7rem;
}
.link-menu{
    color: var(--color-text);
    text-decoration: none;
    font-family: fonte-menu;
    font-size: 1rem;
}
.link-menu:hover{
    text-decoration: underline;
    transition: 0.3s;
}
.link-menu-contact{
    color: var(--color-text);
    text-decoration: none;
    font-family: fonte-menu-button-contact;
    font-size: 1rem;
    background-color: var(--color-button);
    padding: 10px 30px;
    border-radius: 128px;   
}
.link-menu-contact:hover{
    transition: 0.3s;
    text-decoration: underline;  
   
}
/*home section*/
.home{
    background: var(--color-background-home);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
}
.home-content{
    text-align: center;
    width: 690px;
    height: 300px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;
}
.home-content p{
    color: var(--color-text);
    font-family: fonte-menu;
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
}
.home-content h1{
    color: var(--color-text);
    font-family: fonte-home-content-h1;
    font-size: 2.7rem;
}
.btn-cv{
    background-color: var(--color-button);
    padding: 15px 50px;
    border-radius: 128px;
    border: none;  
    margin-top: 1.1rem;         
}
.btn-cv:hover{
    transition: 0.3s;
     text-decoration: underline;
}
.link-cv{
    color: var(--color-button-text);
    text-decoration: none;
    font-family: fonte-menu-button-contact;
    font-size: 1rem;
}
.image-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 395px;
    margin-right: 4rem;
}
.image-home img{
    width: 400px;
    height: 400px;
}
/*about section*/
.about{
    background: var(--color-background-knowledge);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
   
    gap: 2rem;
    
    
}
.about-title {
    font-size: 2.5rem;  
    color: var(--color-text);
    font-family: 'fonte-about-h1', sans-serif;         /* Tamanho grande estilo Firefox */
    font-weight: 800;          /* Bem negrito */
    text-align: center;        /* Centralizado na página */      /* Espaço entre o título e o conteúdo abaixo */
    width: 45rem; 
    height: 10rem;              /* Garante que ocupa a largura toda para centralizar */
    padding-top: 6rem;           /* Espaço acima do título */
}
.about-container {
    display: flex;         /* Ativa o modo Flexbox */
    align-items: center;   /* Alinha verticalmente (centro) */
    justify-content: space-between; /* Dá espaço entre os dois */
    padding: 40px 0;
}
.about-description {
                /* Faz o texto ocupar a outra metade */
    text-align: justify;      /* Garante que o texto aponte para a esquerda */
    font-family: 'fonte-menu', sans-serif;      /* Usa a fonte definida para o menu */
    color: var(--color-text);
    font-size: 1rem;     /* Tamanho de fonte legível */
    margin-left: 7rem;
    margin-right: 7rem;
    width: 45rem;
}
.btn-cv-download{
    background-color: var(--color-button-2);
    padding: 15px 50px;
    border-radius: 128px;
    border: none;  
    margin-top: 2rem;   
      
}
.link-download{
    color: var(--color-button-text);
    text-decoration: none;
    font-family: fonte-menu-button-contact;
    font-size: 1rem;
}
.btn-cv-download:hover{
    text-decoration: underline;
     
}

/*knowledge section*/
.knowledge{
   
    display: flex;      
    flex-direction: column;
    align-items: center;
    height: 10vh;
    gap: 2rem;
   
}
.knowledge-title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    margin-top: 5rem;
   
}
.knowledge-title{
    font-size: 2.5rem;  
    color: var(--color-text);              /* Tamanho grande estilo Firefox */
    font-weight: 800;          /* Bem negrito */
    text-align: center;        /* Centralizado na página */      /* Espaço entre o título e o conteúdo abaixo */
    width: 45rem; 
    height: 10rem;              /* Garante que ocupa a largura toda para centralizar */
    padding-top: 2rem;           /* Espaço acima do título */
   
}
.knowledge-container {
    display: grid;
    /* Cria 6 colunas iguais (como na imagem) que se ajustam ao tamanho da tela */
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); 
    gap: 20px;
    padding: 59px 10%;
   /* background-color: var(--color-background-knowledge); /* Cor de fundo levemente areia da imagem */
    justify-content: center;
   
   
}
.knowledge-title-wrapper h2{    
    font-family: fonte-home-content-h1;
    font-size: 3rem;
}
.subititle-knowledge p{    
    font-family: fonte-menu;
    font-size: 1rem;
    text-align: center; 
  
}

/* O "Card" Branco */
.icon-wrapper {
    background-color: #ffffff;
    border-radius: 8px; /* Cantos levemente arredondados */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    aspect-ratio: 1 / 1; /* Garante que o card seja sempre um quadrado */
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Sombra bem sutil */
    text-decoration: none;
}

.icon-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border: 1px solid var(--color-background-home);
    
}

/* Estilização da Imagem/Ícone */
.icon-wrapper img {
    width: 50px;  /* Tamanho equilibrado dos ícones */
    height: 50px;
    object-fit: contain;
    margin-bottom: 20px;
    filter: none; /* Remove filtros antigos para mostrar as cores reais dos ícones */
}

/* O Texto abaixo do ícone (pegando do data-title) */
.icon-wrapper::after {
    content: attr(data-title); /* Pega o nome que você já colocou no HTML */
    font-size: 14px;
    font-weight: 700;
    color: #1a1a1a;
    text-transform: capitalize; /* Deixa a primeira letra maiúscula */
    font-family: fonte-menu;
}

/* Ajuste Mobile */
@media (max-width: 600px) {
    .knowledge-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas no celular */
        padding: 20px 5%;
    }
}
/*experience*/ 
.experience {
    padding: 9rem 2rem;
    border-radius: 10px;
    margin: 2rem auto;
       
    width: 55rem;
  
    
}
.experience h2 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: var(--text-color);
    text-align: center;
    font-family: fonte-home-content-h1;
}
.experience h3 {
   
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
    font-family: fonte-home-content-h1;
    
    
}
.experience .title-experience p {
    font-size: 1.1rem;
    line-height: 1.1;
    color: #5d5c5c;
    text-align: justify;
    font-family: fonte-menu;
    

}
.experience p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    text-align: justify;
    font-family: fonte-menu;
}
/* Container Geral da Seção */


.project {
    padding: 60px 20px;
    font-family: fonte-meu;
}
/* Título Principal "Projects" */
.project-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    font-family:fonte-home-content-h1;
}

/* O "Segredo": Container da Grade de Projetos */
.project-list {
    display: grid;
    /* Força exatamente 3 colunas de tamanhos iguais */
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

.project-item {
    background-color: var(--color-background-knowledge);
    border: 1px solid var(--color-background-knowledge);
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* Importante: não coloque width: 400px ou algo fixo aqui */
    width: 100%; 
    box-sizing: border-box;
    min-height: 400px; /* Mantém o formato "quadrado" vertical */
}

/* Responsividade: Para não ficar apertado no celular */
@media (max-width: 992px) {
    .project-list {
        grid-template-columns: repeat(2, 1fr); /* 2 por linha em tablets */
    }
}

@media (max-width: 600px) {
    .project-list {
        grid-template-columns: 1fr; /* 1 por linha no celular */
    }
}

/* Efeito Hover (passar o mouse) nos Cards */
.project-item:hover {
    transform: translateY(-5px); /* Levanta o card levemente */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra mais forte */
    border-color: var(--color-background-home);; /* Opcional: muda a cor da borda (ex: ciano) */
}

/* Títulos dentro dos Cards (Project 1, Project 2) */
.project-item h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color:  var(--color-text);
    font-weight: 600;
    font-family: fonte-home-content-h1;
}

/* Descrição do Projeto */
.project-item p {
    font-size: 1rem;
    color: var(--color-text); /* Cinza claro para o texto */
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: fonte-menu;
    flex-grow: 1; /* Faz o texto ocupar o espaço para alinhar as skills embaixo */
}

/* Título "Skills Used" */
.project-item h2 {
    font-size: 1.1rem;
    color: var(--color-text);
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 1px;
    font-family: fonte-home-content-h1;
    margin-bottom: 10px;
    border-top: 1px solid var(--color-background-home); /* Linha separadora em cima */
    padding-top: 15px;
}

/* Lista de Skills */
.project-item ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Faz as skills quebrarem de linha se não couberem */
    gap: 10px;
}

.project-item li {
    background-color: var(--color-background-home); /* Fundo para cada skill (tipo etiqueta) */
    color: var(--color-text); /* Cor de destaque para a skill */
    padding: 5px 10px;
    font-family: fonte-menu;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bold;
}
.project-item a {
    text-decoration: none;
    color: var(--color-button-text);
}
.project-item a:hover{
 text-decoration: underline;
 color: #000000;

}
.footer {
    text-align: center;
    color: var(--text-color);

    background-color: var(--color-background-home);
    height: 25px;
}
.contact {
    background-color: var(--color-background-home);
    padding: 10rem 2rem;
    /*background: rgb(15,23,42,0.1);*/
   /* backdrop-filter: blur(6px);*/
     margin-top: 3rem;

  
    
    max-height: 100vh;
    /*border-color: #1eaae2;*/
    /*border: 1px solid var(--secondary-color);*/
}
.contact h2 {    
    font-size: 2rem;
    margin-bottom: 0.2rem;
    color: var(--text-color);
    text-align: center;
    font-family: Poppins, bold;
}
.contact p {
    font-size: 1rem;
    line-height: 1.1;
    color: var(--secondary-color);       
    text-align: center;
    font-family: fonte-menu;

}
.form-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}
.form-contact input,
.form-contact textarea {
    padding: 10px 25px;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    background-color: var(--color-background-knowledge);
    border-color: #5d5c5c;  
    align-items: center;   
    width: 30rem;
    height: 4rem;
    color: var(--text-color);
    box-sizing: border-box;
    

}
.form-submit {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-submit {
    padding: 0.75rem 1.5rem;
    background-color: var(--color-background-home);
    border-radius: 20px;
    cursor: pointer;
    font-family: fonte-menu;
    font-size: 1rem;
    color: var(--text-color);
    width: 20rem;
}
.btn-submit:hover {
    text-decoration: underline;
}
::-webkit-input-placeholder{
font-family: fonte-menu; 
font-size: 1rem;
padding-left: 2rem;
padding-top: 0.6rem;
}
input .input {
  height: 40px; /* Altura definida */
  padding: 0 10px; /* Preenchimento lateral, vertical 0 */
  line-height: 40px; /* Mesma altura que o height */
  box-sizing: border-box; /* Garante que o padding não aumente a altura */
  padding-left: 15px;
} 